body {
	background-color: mistyrose;
}
#miantitle{
	text-align: center;
	color: darkgreen;
	display: block;
	font-size: 6vw;
}
.title{
	text-align: center;
	color: darkgreen;
	display: block;
	font-size: 5vw;
	margin-bottom: -0.5vw;
}
.info{
	text-align: center;
	color: darkgreen;
	display: block;
	font-size: 1.9vw;
}
.above{
	display: block;
}
.stickers{
	display: block;
	text-align: center
}
.stick{
	width: 6vw;
	margin-left: 3vw;
	margin-right: 3vw;
	display: inline-block;
}
.overview{
	text-align: center;
	color: darkgreen;
	display: block;
	font-size: 1.6vw;
	margin-left: 1vw;
	margin-right: 1vw
}
.quote{
	background: #00361D;
	color: lightpink;
	padding: 1vw;
	display: block;
	font-size: 1.2vw;
	text-align: center;
	margin-top: 4vw;
	margin-left: -1vw;
	margin-right: -1vw;
}
.left{
	vertical-align: top;
	display: inline-block;
	width: 35vw;
	margin-top: 2vw;
	border: dotted 2px darkgreen;
	height: 61vw;
}
.pics{
	display: inline-block;
	width: 61vw;
	margin-top: 2vw;
	border: dotted 2px darkgreen;
	margin-left: -0.5vw;
	text-align: center;
	height: 61vw;
	overflow: auto;
}
.group{
	display: block;
	margin-left: 1.3vw;
	margin-right: 1vw;
	width: 98vw;
}
.smalltitle{
	text-align: center;
	color: darkgreen;
	font-size: 3vw;
}

.smalltitle{
	text-align: center;
	color: darkgreen;
	font-size: 3vw;
}
.smalltitle2{
	text-align: center;
	color: darkgreen;
	font-size: 2.4vw;
}.smalltitle{
	text-align: center;
	color: darkgreen;
	font-size: 3vw;
}
.links{
	color: darkcyan;
	margin-left: 2vw;
	font-size: 1.7vw;
	display: block;
	margin-bottom: 1vw
}
.links2{
	color: lightpink;
	text-align: center;
	font-size: 1.5vw;
	display: block;
	margin-bottom: 1vw
}
#qlink{
	color: darkcyan;
}
.square{
	width: 20vw;
	height: 20vw;
}
#stick{
	width: 9vw;
}
#bottom{
	width: 14vw;
	margin-left: 10vw
}
#result{
	color: darkgreen;
	font-size: 1.5vw
}
.question{
	color: darkgreen;
	font-size: 1.65vw;
}
.dropdown{
	width: 15vw;
	font-size: 1.2vw;
	color: darkgreen;
}
.box{
	display: inline-block;
	width: 47vw;
	vertical-align: top;
}
.bigbox{
	display: block;
}
#button{
	width: 5vw;
	font-size: 1.1vw;
}
#ivy{
	display: inline-block;
	width: 48vw;
}
.green{
	display: block;
	background: #003624;
	color: lightpink;
	margin-left: -1vw;
	margin-right: -1vw;
}
#bottompix{
	display: block;
	text-align: center;
}
.bottompix{
	width: 20vw;
	margin-left: 5vw;
	margin-right: 5vw;
}
.iholdpix{
	text-align: center;
}
.aboutme{
	color: darkgreen;
	text-align: center;
}
#pic1{
	display: block;
	
}