#left{
	margin-left: -1vw;
	margin-top: -2.3vw;
	margin-bottom: -1vw;
	display: inline-block;
	background: #EFEFEF;
	width: 15vw;
	height: 250vw;
}
#wikilogo{
	display: inline-block;
	width: 10vw;
	margin-bottom: 3vw;
	margin-left: 2vw;
	margin-top: 1vw;
}
.directorylinks{
	display: block;
	margin-left: 1vw;
	color: #0000BC;
	font-size: 1.1vw;
	margin-bottom: 0.15vw;
}
.greytitle{
	margin-bottom: 0vw;
	color: #575757;
	font-size: 1.2vw;
}
#top{
	display:block;
	background: #EFEFEF;
	vertical-align: top;
	text-align: right;
	margin-top: -2vw;
}
#main{
	vertical-align: top;
	display: inline-block;
	width: 60vw;
}
#tab{
	display: inline-block;
	background: white;
	vertical-align: bottom;
	margin-right: 46.8vw;
}
#notlogged{
	display: inline-block;
}
.toplinks{
	display: inline-block;
}
.toptext{
	display: inline-block;
	vertical-align: top;
}
#pfp{
	display: inline-block;
	width: 2vw;
	vertical-align: middle;
	margin-top: 1.4vw;
}
.yeah{
	color: black;
	display: inline-block;
}
#contents{
	display: inline-block;
	width: 13vw;
	border: solid 1px black;
	background: #EFEFEF;
}
.contentslink{
	color: #0000BC;
	font-size: 1.2vw;
	display: block;
	margin-bottom: 0.5vw;
}
.otherlink{
	display: block;
	color: #0000BC;
	font-size: 1.2vw;
	margin-bottom: 0.5vw;
	margin-left: 2vw;
}
#contenttitle{
	text-align: center;
	margin-top: 0.5vw;
	margin-bottom: 0.5vw
}
#margins{
	margin-left: 2vw;
}
#bigtitle{
	font-size: 2.3vw;
	margin-bottom: -0.5vw;
}
.purple{
	background: #C7BDF1
}
#p1{
	display: inline-block;
	width: 25vw;
	margin-right: 4vw;
}
#p2{
	display: inline-block;
	width: 25vw;
}