
#left{
	margin-left: -1vw;
	margin-top: -8.2vw;
	margin-bottom: -1vw;
	display: inline-block;
	background: #EFEFEF;
	width: 15vw;
	height: 295.8vw;
	padding-left: 1vw;
}
#wikilogo{
	display: inline-block;
	width: 10vw;
	margin-bottom: 3vw;
	margin-left: 2vw;
	margin-top: 1vw;
}
.directorylinks{
	display: block;
	margin-left: 1vw;
	color: #0000BC;
	font-size: 1.1vw;
	margin-bottom: 0.15vw;
}
.greytitle{
	margin-bottom: 0vw;
	color: #575757;
	font-size: 1.2vw;
	padding-left: 1vw;
}
#top{
	display:block;
	background: #EFEFEF;
	vertical-align: top;
	text-align: right;
	margin-top: -2vw;
	margin-left: 14.66vw;
	width: 83vw;
}
.main1{
	vertical-align: top;
	display: inline-block;
	width: 60vw;
}
.main2{
	vertical-align: top;
	display: inline-block;
	width: 80vw;
}
.newtab1{
	color: black;
	display: inline-block;
	font-size: 1.2vw;
	margin-right: -1vw;
}
input{
	vertical-align: bottom;
	margin-right: 1vw;
	width: 10vw;
	height: 2vw;
}
.newtab2{
	color: black;
	display: inline-block;
	font-size: 1.2vw;
	margin-left: 1vw;
	background: #DBE6FC;
	border: solid 1px #73A4FF;
	margin-right: -1vw;
}
.tab{
	display: inline-block;
	background: white;
	vertical-align: bottom;
	margin-right: 64vw;
	margin-bottom: -2vw;
}
.tab1{
	display: inline-block;
	background: white;
	vertical-align: top;
	margin-right: 2vw;
	height: 1.5vw;
}
#notlogged{
	display: inline-block;
}
.toplinks{
	display: inline-block;
}
.toptext{
	display: block;
	vertical-align: top;
	font-size: 1.2vw;
	margin-bottom: 1vw;
	margin-right: 1vw;
}
#pfp{
	display: inline-block;
	width: 2vw;
	vertical-align: middle;
}

#contents{
	display: inline-block;
	width: 13vw;
	border: solid 1px black;
	background: #EFEFEF;
}
.contentslink{
	color: #0000BC;
	font-size: 1.2vw;
	display: block;
	margin-bottom: 0.5vw;
}
.otherlink{
	display: block;
	color: #0000BC;
	font-size: 1.2vw;
	margin-bottom: 0.5vw;
	margin-left: 2vw;
}
#contenttitle{
	text-align: center;
	margin-top: 0.5vw;
	margin-bottom: 0.5vw
}

#bigtitle{
	font-size: 2.3vw;
	margin-bottom: -0.5vw;
}
.purple{
	background: #C7BDF1
}
#p1{
	display: inline-block;
	width: 25vw;
	margin-right: 4vw;
}
#p2{
	display: inline-block;
	width: 25vw;
}
.external{
color: #0000BC;
}
.purple2{
	background:#C1BFF1;
	padding: 0.4vw;
	margin-bottom: -1vw;
	text-align: center;
	font-size: 1.2vw;
}
.tanbottom{
	margin-top: 3vw;
	background: #F3F3F3;
	border: solid 0.1px black;
	padding: 0.5vw;
	color: #0000BC;
	font-size: 1.25vw;
}
.fakelinks{
	display: inline-block;
	font-size: 1vw;
	margin-right: 0.5vw;
}
#realbottom{
	background: #EFEFEF;
	font-size: 1vw;
	margin-left: -2.5vw;
	padding-left: 1vw;
	padding-top: 1vw;
	padding-right: 1vw;
	margin-right: -24vw;
}
.goofy{
	display: inline-block;
	vertical-align: top;
	width: 20vw;
	text-align: center;
	background: #EFEFEF;
	border: solid 1px black;
	margin-top: 4vw;
}
a{
	text-decoration: none;
}
#church{
	width: 18vw;
	margin-top: -1vw
}
.small{
	font-size: 1.2vw;
}
#title{
	margin-top: 0.5vw;
	margin-bottom: 0.5vw;
	font-size: 1.4vw;
}
#help{
	background: #AEC8F8;
	vertical-align: top;
	border: solid 1px black;
	margin-top: -1vw;
	margin-bottom: 1.5vw;
	font-size: 1.2vw;

}
#motto{
	margin: -0.5vw
}
#county{
	width: 19vw;
}
#coord{
	padding-left: 1.5vw;
	padding-right: 1.5vw;
}
.country{
	width: 20vw;
	display: inline-block;
	font-size: 1.2vw;
	margin-bottom: -14px;
	margin-top: -2vw;
}
.items1{
	display: inline-block;
	margin-left: -15vw;
	margin-right: 2vw;
	}

.items2{
	display: inline-block;
	margin-right:-15vw;
	margin-left: 5vw
	}

.items3{
	display: inline-block;
	margin-left: -8vw;
	margin-right: 2vw;
	}

.items4{
	display: inline-block;
	margin-right:-8vw;
	margin-left: 3vw
	}
.area{
	font-size: 1.2vw;
	margin-left: -17vw;
}
.pop{
	font-size: 1.2vw;
	margin-left: -11vw;
}
.items5{
	display: inline-block;
	margin-left: -10vw;
	margin-right: 4vw;
	}

.items6{
	display: inline-block;
	margin-right:-10vw;
	margin-left: 5vw
	}
.items15{
	display: inline-block;
	margin-left: -4vw;
	margin-right: 1vw
	}

.items16{
	display: inline-block;
	margin-right:-4vw;
	}
.new{
	display: inline-block;
	vertical-align: top;
	width: 60vw;
	padding-left: 1vw;
}
.font{
	font-size: 1.3vw;
}
.font2{
	font-size: 1.5vw;
}
.fontspecial{
	margin-right: 20vw;
	font-size: 1.3vw;
}