/* CSS Document */
body {
	background-color: cadetblue;
	overflow: auto;
}
#title{
	border: 2px solid black;
	text-align: center;
	padding: 5px;
}
#bigger{
	font-size: 7vw;
}
p, a{
	font-size: 2vw;
}
h2, h3{
	font-size: 2vw;
}
h1{
	font-size:3vw;
}
li{
	font-size: 3vw;
}
img{
	display: inline-block;
	width: 48vw;
}
.all{
	margin: 1vw;
}
.about-me {
	display: inline-block;
	width: 43vw;
	margin-left: 1vw;
	border: 2px solid black;
	padding: 10px;
	vertical-align: top;
}
.links {
	display: inline-block;
	width: 40vw;
	border: 2px solid black;
	padding: 10px;
	vertical-align: top;
}
.links-item{
	display: inline-block;
	width: 40vw;
	vertical-align: top;
	color: black;
}
.about-me-item{
	display: inline-block;
	width: 45vw;
	vertical-align: top;
	color: black;
}
.Data{
	display: inline-block;
	border: 1px solid black;
	width: 17.6vw;
	height:14vw;
	vertical-align: bottom;
	padding: 4px;
	margin-bottom: 0px;
	margin-top: -1px;
	margin-right: -3px;
	margin-left: -2px;
	white-space: wrap;
}
.DataH{
	display: inline-block;
	border: 1px solid black;
	width: 17.6vw;
	height:2vw;
	vertical-align: bottom;
	padding: 4px;
	margin-bottom: 0px;
	margin-top: -1px;
	margin-right: -3px;
	margin-left: -2px;
}
.bucket{
	display: inline-block;
	width: 40vw;
	vertical-align: top;
}
.vaca-description{
	display: inline-block;
	width: 95vw;
	border: 2px solid black;
	padding: 1vw;
}
.vaca-list{
	display: inline-block;
	width: 40vw;
	border: 2px solid black;
}
.map{
	display: inline-block;
	width: 44vw;
	vertical-align: top;
	margin-left: 4.5vw;
	margin-right: 4vw;
}
.photog{
	display: inline-block;
	width: 44vw;
	margin-top: 1vw;
	margin-right: 1vw;
	margin-left: 1vw;
	margin-bottom: 1vw;
}