/* CSS Document */
body {
	background-color: cadetblue;
	overflow: auto;
}
p, a{
	font-size: 2vw;
}
h2, h3{
	font-size: 2vw;
}
h1{
	font-size:3vw;
}
li{
	font-size: 2vw;
}
img{
	display: inline-block;
	width: 96vw;
}
#desk{
	vertical-align: top;
	width: 65vw;
}
.all{
	margin: 1vw;
}
.about-me {
	display: inline-block;
	width: 40vw;
	margin-left: 4vw;
	border: 2px solid lightpink;
	padding: 10px;
	vertical-align: top;
	font-family: Garamond, serif;
}
.links {
	display: inline-block;
	width: 39vw;
	border: 2px solid lightpink;
	padding: 10px;
	vertical-align: top;
	font-family: Garamond, serif;
}
.links-item{
	display: inline-block;
	width: 40vw;
	vertical-align: top;
	color: black;
	font-family: Garamond, serif;
}
.about-me-item{
	display: inline-block;
	width: 45vw;
	vertical-align: top;
	color: black;
}
.Data{
	display: inline-block;
	border: 1px solid lightpink;
	width: 17.6vw;
	height:14vw;
	vertical-align: bottom;
	padding: 4px;
	margin-bottom: 0px;
	margin-top: -1px;
	margin-right: -3px;
	margin-left: -2px;
	white-space: wrap;
	font-family: Garamond, serif;
}
.DataH{
	display: inline-block;
	border: 1px solid lightpink;
	width: 17.6vw;
	height:2vw;
	color: lightpink;
	vertical-align: bottom;
	padding: 4px;
	margin-bottom: 0px;
	margin-top: -1px;
	margin-right: -3px;
	margin-left: -2px;
	font-family: Garamond, serif;
}
.vaca-description{
	display: inline-block;
	width: 95vw;
	border: 2px solid lightpink;
	padding: 1vw;
	font-family: Garamond, serif;
}
.vaca-list{
	display: inline-block;
	width: 40vw;
	border: 2px solid lightpink;
	font-family: Garamond, serif;
}
.map{
	display: inline-block;
	width: 44vw;
	vertical-align: top;
	margin-left: 4.5vw;
	margin-right: 4vw;
}
.photog{
	display: inline-block;
	width: 44vw;
	margin-top: 1vw;
	margin-right: 1vw;
	margin-left: 1vw;
	margin-bottom: 1vw;
}
.classlink{
	display: block;
	color: lightpink;
	font-size: 3vw;
}
.title{
	border: 2px solid lightpink;
	text-align: center;
	padding: 5px;
	color: lightpink;
	font-family: Garamond, serif;
}
.class-box{
	display:inline-block;
	width: 30vw;
	border: 2px solid lightpink;
	font-family: Garamond, serif;
}
.desk {
}
.totalbucket{
	display: inline-block;
	border: 2px solid lightpink;
	width: 95vw;
	vertical-align: top;
	font-family: Garamond, serif;
}
.doglistitem{
	color: lightpink;
}
.smalltitle{
	color:lightpink;
	font-family: Garamond, serif;
}
.inlinebutton{
	display: inline-block;
	width: 15vw;
	height: 3vw;
}
#counterp{
	display: inline-block;
	width:15vw;
	text-align: center;
	font-size: 2vw;
}
#password{
	display: inline-block;
	width: 30vw;
	height: 3vw;
}
.question {
	display: block;
	width:50vw;
}
.dropdown{
	display: block;
	width: 15vw;
	margin-bottom: 2vw;
}
.buttonstyle{
	display: block;
	width:15vw;
	vertical-align: top;
	padding:1vw;
	border: solid 2px lightpink;
}
#buttonphoto{
	display: inline-block;
	vertical-align: top;
}
.buttonborder{
	border: solid 2px lightpink;
	display: inline-block;
	width: 15vw; 
	margin-right: 10vw;
}
#submit{
	display: block;
	height: 1.5vw;
	width: 7vw;
	margin-top: 2vw;
	font-size: 1vw;
}
#madlib{
	display: inline-block;
	width:40vw;
	border: solid 2px black;
	padding: 1vw;
}
#story {
	margin-left: 8vw;
	display: inline-block;
	width:40vw;
	vertical-align: top;
	font-size: 3vw;
}